<md-content layout-padding ng-controller="settingsController as vm">
  <form name="settingsForm">
    <md-select ng-model="vm.language">
     <md-option ng-repeat="l in vm.languages" ng-value="l">
       {{l}}
     </md-option>
   </md-select>

   <md-switch class="md-primary" ng-model="vm.alphabet">
     Alphabet
   </md-switch>
   <md-switch class="md-primary" ng-model="vm.numbers">
     Numbers
   </md-switch>
   <md-switch class="md-primary" ng-model="vm.shapes">
     Shapes
   </md-switch>
  </form>
</md-content>
