<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                md-direction="left" class="fabmenu"
                >
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-icon md-font-library="material-icons">menu</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
        <md-button class="md-raised" ng-href="#home">
          <md-icon md-font-library="material-icons">home</md-icon> Home
        </md-button>
        <md-button class="md-raised" ng-href="#settings">
          <md-icon md-font-library="material-icons">settings</md-icon> Settings
        </md-button>
        <md-button class="md-raised" ng-href="#about">
          <md-icon md-font-library="material-icons">profile</md-icon> Profile
        </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>
